@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can put global resets and brand tokens here */
html, body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
